parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    app.version: 0.0.1
    app.title: Scoutinggroep Brigitta / Valentijn
    app.cmstitle: BV Backoffice
    app.http_entrypoint: http://brigittavalentijn.nl
    app.twitter_name: "scoutingbv"
    app.twitter_url: https://twitter.com/scoutingbv
    app.facebook_url: https://www.facebook.com/brigittavalentijn
    app.googleplus_url: https://www.facebook.com/brigittavalentijn