{% extends 'StefSimpleCmsBundle::layout.base.html.twig' %}

{% block body %}

    <form action="{{ path('stef_simple_cms_bundle_update', { 'mappingKey': mappingKey, 'id': entity.id }) }}" method="post" {{ form_enctype(form) }} class="blogger">
        {{ form_errors(form) }}

        {{ form_rest(form) }}

        <input type="submit" value="Submit" />
    </form>

{% endblock %}